# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

.vs
*.pdb

Apex-Legends-Cheat-SDK/x64
Apex-Legends-Cheat-SDK/Debug-App/x64
Apex-Legends-Cheat-SDK/Apex-Legends-Cheat-SDK/x64
